# ----------------------------------------------------------------------------------------------------------------
# In requirements.txt, we list the Python packages and their versions that are required to run the application.
# Run `pip install -r requirements.txt` command to install the required packages.
# ----------------------------------------------------------------------------------------------------------------
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
python-dotenv==1.0.1
pydantic-settings==2.7.1
aiofiles==24.1.0
langchain==0.3.14
langchain-community==0.3.14
PyMuPDF==1.25.1
motor==3.6.1
pydantic-mongo==2.3.0
openai==1.59.7
cohere==5.13.8
ollama==0.4.6
qdrant-client==1.12.2
SQLAlchemy==2.0.37
asyncpg==0.30.0
alembic==1.14.0
psycopg2==2.9.10
transformers==4.48.0
